<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The organizer for <%= @cart.name %> has deleted your cart.</h1>
    <p>
      All payments will automatically be refunded.
    </p>
  </body>
</html>