<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @cart.name %> didn't have quite enough to meet it's goal. .</h1>
    <p>
      If you've contributed any money, it will automatically be refunded within a few days. Better luck next time!<br>
    </p>
  </body>
</html>