<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been removed from <%= @cart.name %>.</h1>
    <p>
      Did you piss someone off?<br>
    </p>
  </body>
</html>