<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited to <%= @cart.name %> by <%= @inviter.name %>.</h1>
    <p>
      <a href="http://localhost:3000/invite/<%= @cart.key %>">Accept your invitation!</a><br>
    </p>
  </body>
</html>