<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited to <%= @cart.name %> by <%= @inviter.name %>.</h1>
    <p>
      <%= link_to "Accept your invitation", carts_invite_url(@cart.key, email: @email) %>
    </p>
  </body>
</html>