<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @payee %> has paid <%= @payment.amount %>!</h1>
    <p>
      Holy moly!<br>
    </p>
  </body>
</html>