<h1>Split it!</h1>

<% if current_user %>
<h3>Create a new gift</h3>
  <%= render 'new_cart' %>

  <% if @carts.size > 0 %>
    <% @carts.each do |cart|  %>
      <%= render 'list_carts', cart: cart %>
    <% end %>
  <% end %>
<% end %>
