<div id="paymentsList">
<h2>Who has paid?</h2>

<%= render 'progress' %>

<% @cart_contributions.each do |contribution| %>
<ul>
  <li><%= render 'contributor', contribution: contribution %></li>
  <li><%= render 'refund_form', contribution: contribution %></li>
</ul>
<% end %>
</div>