
<div class="cart-progress">
<p class="total-paid">Total paid: <span class="total-amount"><%= format_price(@total_payments) %></span></p>
<p class="progress-percentage"><span class="percent-of-goal"><%= @progress %></span>% of <%= format_price(@goal) %> goal</p>
</div>