<form action="/refund" method="POST" id="refundForm">
  <input type="hidden" name="stripe_charge_id" value=<%=contribution.stripe_charge_id %>>
  <input type="hidden" name="user_id" value=<%=contribution.user_id %>>
  <input type="submit" class="refund-button" value="Refund Payment">
</form>