<form action="/refunds" method="POST" id="refund-form">
  <input type="hidden" name="stripe_charge_id" value=<%=payment.stripe_charge_id %>>
  <input type="hidden" name="user_id" value=<%=payment.user_id %>>
  <input type="submit" class="refund-button" value="Refund Payment">
</form>