<div class="row">
  <div class="col s12 center-align">
    <h1>Ahoy, <%= current_user.name %>!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="col s12 cart-list">
        <!-- the loop -->
        <% if current_user && @carts.size > 0 %>
          <% @carts.each do |cart|  %>
            <li class="col s12">
              <%= render 'list_carts', cart: cart %>
            </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>
  
<a href="<%= new_cart_path %>" class="btn-floating btn-large waves-effect waves-light pink modal-trigger" id="new-cart-btn"><i class="material-icons">add</i></a>


<!-- render 'new_cart' -->
